.page-title {
  display: flex;
  justify-content: auto;
  align-items: auto;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.student-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 1.5fr;
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: 8px;
  font-size: 0.95rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
