<div class="container">
<h2 class="page-title">Список студентов</h2>

<div class="list-wrapper">
  <div class="student-row student-header">
    <span>Имя</span>
    <span>Фамилия</span>
    <span>Курс</span>
    <span>Пол</span>
    <span>Дата рождения</span>
  </div>

  <div class="student-row" *ngFor="let student of students">
    <span>{{ student.firstName }}</span>
    <span>{{ student.lastName }}</span>
    <span>{{ getCourseName(student.courseId) }}</span>
    <span>{{ student.gender === 0 ? 'Ж' : 'М' }}</span>
    <span>{{ student.dateOfBirth | date: 'longDate' }}</span>
  </div>
</div>
</div>